a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #d4d4d4;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

header {
    background-color: #3A405A;
    height: 10vh;
    display: flex;
    align-items: center;
}

header a {
    padding-left: 10px;
}

main {
    height: 85vh;
}

footer {
    background-color: #98989c;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a:hover {
    color: #00ccff;
}

div {
    padding: 10px;
    border-radius: 5px;
    background-color: #a9a9ad;
    color: #3A405A;
    box-shadow: 0px 5px 5px 3px;
}

.selector:hover {
    box-shadow: 0px 0px 0px 0px;
    background-color: #98989c;
}

h1 {
    margin: 0px;
}

h1:hover {
    color: #38ABC8;
}

section {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.screenshot {
    width: 400px;
}

.logo-img {
    height: 100%;
}

.logo-link {
    height: 9vh;
    align-content: center;
}

p {
    margin: 0px;
    padding: 0px;
}