a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #d4d4d4;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

header {
    background-color: #3A405A;
    height: 10vh;
    display: flex;
    align-items: center;
}

header a {
    margin-left: 10px;
}

main {
    height: 80vh;
}

div {
    padding: 10px;
    border-radius: 5px;
    background-color: #b9b9bc;
    color: #3A405A;
}

div:hover {
    box-shadow: 0px 5px 5px 0px;
}

h1 {
    margin: 0px;
}

section {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.screenshot {
    width: 400px;
}

.logo-img {
    height: 100%;
}

.logo-link {
    height: 9vh;
    align-content: center;
}